# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/

# Cargo temp files
target

.env
*.lock
*.vscode
**/node_modules
**/config.json

# Do not remove the following line
.test-env
